@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", "Fira Code", monospace;
}

@layer base {
  body {
    @apply bg-[#1e1e1e] text-[#cccccc] overflow-hidden;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 0px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #444444;
  }
}
